body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.converter {
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

input[type='number'] {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

select {
  padding: 8px;
  margin: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  font-size: 18px;
  margin-top: 20px;
}
